.App {
  text-align: center;
  background-color: rgb(194, 181, 168);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.articlecards {
  margin: 4% auto;
  margin-left: 1%;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;

  background-color: rgba(91, 192, 219, 0.61);
}

.btnReadArticle {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.navBarTopics {
  display: inline;
  justify-content: end;
  margin-right: 15px;
  margin-left: 15px;
}

.mytextarea {
  margin-top: 5px;
  width: 280px;
  height: 50px;
}
